<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DicePoker - first to 1000000 gets a present! </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="indexStyle.css" />
</head>



<body>

    
<div class="grid-container">

    <header class="header-container">
        <img src="pokerdice.png" alt="dicePokerLogo" class="pokerDiceLogo">
    
    </header>
    

    <div id="app" class="vueAppWidth"><!-- vue app---------------------------------------->
     
        <section>
            <h2> GAME MESSAGES</h2>
            <ul>
                <li class="menuBoxes"> Rolled {{ diceRollCounter }} / 3 times </li>
                <li class="menuBoxes"> Played {{ gameCount }} / 5 games </li>
            </ul>
            <ul><li class="menuBoxes"> Player Money {{ playerMoney }} </li></ul>
            <ul>
  
                <li class="menuBoxes"> Player bet {{ playerBet }} </li>
                <li class="menuBoxes"> Computer bet {{ computerBet }} </li>
            </ul>
        </section>

       <section>
        <h2> COMPUTER DICES  </h2>
            <div>
                <ul>
                    <blog-post
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:title="post.title"
                    v-bind:img="post.img"
                    ></blog-post>
                </ul>
            </div>
       </section>

       <section>

        <h2>Game messages:    </h2>
        <p>{{ playerRolledValue }}</p>
        <button v-on:click="changeComDice()"> change com dice </button>

       </section>

        <section>
            <div>
                <h2>   PLAYER DICES     </h2>
                    
                <ul>
                    <li v-if="pdb1"> 
                        <button v-on:click="saveDice(1)" class="diceButtonClass"> <img v-bind:src="aDiceImg0" alt="hej" class=diceImg> </button>
                    </li>
                    <li v-if="pdb2">
                        <button v-on:click="saveDice(2)" class="diceButtonClass"> <img v-bind:src="aDiceImg1" alt="hej" class=diceImg> </button>
                    </li>
                    <li v-if="pdb3">
                        <button v-on:click="saveDice(3)" class="diceButtonClass"> <img v-bind:src="aDiceImg2" alt="hej" class=diceImg> </button>
                    </li>
                    <li v-if="pdb4">
                        <button v-on:click="saveDice(4)" class="diceButtonClass"> <img v-bind:src="aDiceImg3" alt="hej" class=diceImg> </button>
                    </li>
                    <li v-if="pdb5">
                        <button v-on:click="saveDice(5)" class="diceButtonClass"> <img v-bind:src="aDiceImg4" alt="hej" class=diceImg> </button>
                    </li>
                </ul>
                                    
                <ul> 
                    <li v-if="!pdb1">
                        <button v-on:click="returnDice(1)" class="diceButtonClass"> <img v-bind:src="aDiceImg0" alt="hej" class=diceImg> </button>
                    </li>
                    <li v-if="!pdb2">
                        <button v-on:click="returnDice(2)" class="diceButtonClass"> <img v-bind:src="aDiceImg1" alt="hej" class=diceImg> </button>
                    </li>
                    <li v-if="!pdb3">
                        <button v-on:click="returnDice(3)" class="diceButtonClass"> <img v-bind:src="aDiceImg2" alt="hej" class=diceImg> </button>
                    </li>
                    <li v-if="!pdb4">
                        <button v-on:click="returnDice(4)" class="diceButtonClass"> <img v-bind:src="aDiceImg3" alt="hej" class=diceImg> </button>
                    </li>
                    <li v-if="!pdb5">
                        <button v-on:click="returnDice(5)" class="diceButtonClass"> <img v-bind:src="aDiceImg4" alt="hej" class=diceImg> </button>
                    </li>  
                </ul>
            </div>

            <ul>

                <li>
                    <button v-on:click="rollDice()"> Roll! </button>
                </li>
                <li>
                    <button v-on:click="stay()"> Stay </button>
                </li>
                <li>
                    <button v-on:click="nextRound()"> nextRound </button>
                </li>
            </ul>   
            <ul>   
               
                <li>
                    <button v-on:click="playerBetAmount(1)"> Bet 1 </button>
                </li>
                 <li>
                    <button v-on:click="playerBetAmount(5)"> Bet 5 </button>
                </li>
                <li>
                    <button v-on:click="playerBetAmount(10)"> Bet 10 </button>
                </li>
            

            </ul>




       
        </section>
     

    </div>
    
    <div class="rules">
        <h2> Rules: </h2>
        <ul>
            <li class="rules">Objective: Get the highest amount of cash after 5 rounds.</li>
            <li class="rules">1. You have 5 rounds to crush the computer and earn more cash.</li>
            <li class="rules">2. You roll 3 times, bet between each of them you can bet if you thing your hand is better than computers. </li>
            <li class="rules">3. If your hand has higher value then the computer, you win. If same com win.</li>
            <li class="rules">4. Hand values:</li>
            <li class="rules">Five of a kind  = 7000 + higest card value</li>
            <li class="rules">four of a kind  = 6000 + higest card value</li>
            <li class="rules">Full house      = 5000 + higest card value</li>
            <li class="rules">straight        = 4000 + higest card value</li>
            <li class="rules">three of a kind = 3000 + higest card value</li>
            <li class="rules">two pair        = 2000 + higest card value</li>
            <li class="rules">pair            = 1000 + higest card value</li>

        </ul>

    </div>








</div><!-- App---------------------------------------------------> 

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>      
        //<!-- Vue APP---------------------------------------------------->
              
        Vue.component('blog-post', {
        props: ['title', 'img'],
        template: '<li id="changeThis">\
        <img  v-bind:src="img" class=diceImg >\
        </li>'
        })

       
        var app = new Vue({                 // Vue App ----- all logic
            el: '#app',
            data: {  

                diceSides: [
                    {id: 1, value: 9, text:"Nine", sideUrl:"dice/nine.jpg"},
                    {id: 2, value: 10, text:"Tenn",sideUrl:"dice/ten.jpg"},
                    {id: 3, value: 11, text:"Jack", sideUrl:"dice/jack.jpg"},
                    {id: 4, value: 12, text:"Queen", sideUrl:"dice/queen.jpg"},
                    {id: 5, value: 13, text:"King", sideUrl:"dice/king.jpg"},
                    {id: 6, value: 14, text:"Ace", sideUrl:"dice/ace.jpg"},
                    {id: 7, value: 0, text:"?", sideUrl:"dice/q.jpg"},
                    {id: 8, value: 0, text:"blank", sideUrl:"dice/b.jpg"}
                ],  
                posts: [
                    { id: 1, title: "1", img: 'dice/q.jpg' },
                    { id: 2, title: "1", img: 'dice/q.jpg' },
                    { id: 3, title: "2", img: 'dice/q.jpg' },
                    { id: 4, title: "2", img: 'dice/q.jpg' },
                    { id: 5, title: "4", img: 'dice/q.jpg' }
                 ],
                aDiceImg0: "dice/q.jpg", //To bind dice img to img tag. 
                aDiceImg1: "dice/q.jpg",     
                aDiceImg2: "dice/q.jpg",     
                aDiceImg3: "dice/q.jpg",     
                aDiceImg4: "dice/q.jpg",
                resetGame: "True",          // to stop player from re roll new nices   
                startGameBoolean: false,       
                pdb1: true, pdb2: true, pdb3: true, pdb4: true, pdb5: true,  //If player holds dice
                cdb1: false, cdb2: false, cdb3: true, cdb4: true, cdb5: true,  //If com holds dice
                playerDice: [6,6,6,6,6],    // array to hold players rolled dices
                computerDice: [1,2,3,4,5],
                playerPoints: 0,
                comPoints: 0,
                playerMoney: 100,
                playerBet: 0,
                computerBet: 10,
                diceRollCounter: 0,         // to be able to roll 3 times max. 
                gameCount: 0,               // to be able to play 5 rounds only.
                playerRolledValue: "Press Roll to start the game!"
                },
            methods: {  
                nextRound(){

                    this.resetSNUFF()
                    this.gameCount++
                    /*
                    the net ninja
                    if(diceRollCounter > 2){

                        if(this.playerPoints > this.comPoints){
                            this.playerMoney = this.playerMoney +this.playerPoints + this.comPoints
                            this.playerRolledValue = "HEY You won: " + this.playerPoints + this.comPoints + "!"
                        }

                        this.resetGame()








                    }
                    
                    */


                },
                changeComDice(){
                    this.posts[1].img = "dice/ace.jpg"
                    this.reloadSingleElement();
                },
                resetSNUFF(){
                  
                    this.playerDice[0] = 6
                    this.playerDice[1] = 6
                    this.playerDice[2] = 6
                    this.playerDice[3] = 6
                    this.playerDice[4] = 6
                    this.playerDice[5] = 6

                    this.setDiceImg()

                    console.log(this.playerDice)

                    this.pdb1 = true
                    this.pdb2 = true 
                    this.pdb3 = true
                    this.pdb4 = true
                    this.pdb5 = true

                    this.playerPoints = 0
                    this.comPoints = 0
                    this.playerBet = 0
                    this.computerBet = 0
                    this.diceRollCounter = 0  
                    this.playerRolledValue = "your value is going in here"
                },
                stay(){
                    this.diceRollCounter++

                    if(this.diceRollCounter > 2){
                        this.checkCardValue();
                    }
                },                 
                gameAi(){

                },
                playerBetAmount(amount){
                    
                    if(this.playerMoney >= amount){
                        this.playerMoney = this.playerMoney - amount
                        this.playerBet = this.playerBet + amount
                    }
            
                },
                randNr(){
                    var hej = Math.floor(Math.random() * 7); 
                    return hej;    
                }, 
                reloadSingleElement(){
                    var container = document.getElementById("changeThis");
                    var content = container.innerHTML;
                    container.innerHTML= content; 
                },
                rollDice(){
                    if(this.diceRollCounter < 3){
                        if (this.pdb1 || this.diceRollCounter == 0){
                            this.playerDice[0] = Math.floor(Math.random() * 6)
                        }
                        if (this.pdb2 || this.diceRollCounter == 0){
                            this.playerDice[1] = Math.floor(Math.random() * 6)
                        }
                        if (this.pdb3 || this.diceRollCounter == 0){
                            this.playerDice[2] = Math.floor(Math.random() * 6)
                        }
                        if (this.pdb4 || this.diceRollCounter == 0){
                            this.playerDice[3] = Math.floor(Math.random() * 6)
                        }
                        if (this.pdb5 || this.diceRollCounter == 0){
                            this.playerDice[4] = Math.floor(Math.random() * 6)
                        }
                        this.setDiceImg()
                        this.diceRollCounter++
                    }                   
                    if(this.diceRollCounter > 2){
                        this.checkCardValue();

                    }
                },
                setDiceImg(){
                        this.aDiceImg0 = this.diceSides[this.playerDice[0]].sideUrl
                        this.aDiceImg1 = this.diceSides[this.playerDice[1]].sideUrl     
                        this.aDiceImg2 = this.diceSides[this.playerDice[2]].sideUrl    
                        this.aDiceImg3 = this.diceSides[this.playerDice[3]].sideUrl  
                        this.aDiceImg4 = this.diceSides[this.playerDice[4]].sideUrl 
                },           
                saveDice(button){
                    switch (button){
                        case 1: this.pdb1 = false
                        break;
                        case 2: this.pdb2 = false
                        break;
                        case 3: this.pdb3 = false
                        break;
                        case 4: this.pdb4 = false
                        break;
                        case 5: this.pdb5 = false
                        break;
                    } 
                },
                returnDice(button){
                    switch (button){
                        case 1: this.pdb1 = true
                        break;
                        case 2: this.pdb2 = true
                        break;
                        case 3: this.pdb3 = true
                        break;
                        case 4: this.pdb4 = true
                        break;
                        case 5: this.pdb5 = true
                        break;
                    } 
                },
                checkCardValue(){
                    console.log("print array: " + this.playerDice)

                    this.playerDice.sort()
              
                    let nine1 = []
                    let ten1 = []
                    let jack1 = []
                    let queen1 = []
                    let king1 = []
                    let ace1 = []
                    let allFiveDices = []

                    // fill all empty arrays with dices.
                    for (const element of this.playerDice){
                      
                        if (element == 0){
                            nine1.push(element);
                        } else if (element == 1){
                            ten1.push(element);
                        } else if (element == 2){
                             jack1.push(element);
                        } else if (element == 3){
                            queen1.push(element);
                        } else if (element == 4){
                            king1.push(element);
                        } else {
                            ace1.push(element);
                        }
                       allFiveDices.push(nine1,ten1,jack1,queen1,king1,ace1) 
                    }
                    var i = 0;

                       //--------------------------------onePair
                    while (i < 6) {
                        if(allFiveDices[i].length == 2){ 
                            this.playerPoints = 1000
                            this.playerRolledValue = "wow! You rolled pair!" + this.playerPoints
                        }
                        i++;                    
                    }i = 0;
                     //--------------------------------twoPair
                    let sumTwo = 0
                    while (i < 6) {        
                        if(allFiveDices[i].length == 2 ){ 
                            sumTwo++
                        }                                                                        
                        if(sumTwo == 2){
                            this.playerPoints = 2000
                            this.playerRolledValue = "wow! You rolled tvåpar     " + this.playerPoints
                        }
                        i++;                    
                    } i = 0;        
                
                    if(this.playerPoints == 0){
                        this.playerRolledValue = "wow! You rolled NOTHING     " 
                    }

                    
                    //--------------------------------fiveOfAkind
                    while (i < 6) {
                        if( allFiveDices[i].length == 5){ 
                            this.playerPoints = 7000 
                            this.playerRolledValue = "wow! You rolled five of a kind!" + this.playerPoints
                        }
                        i++;
                    }i = 0;

                    //--------------------------------fourOfAKind
                    while (i < 6) {
                        if( allFiveDices[i].length == 4){ 
                            console.log("four!")
                            this.playerPoints = 6000
                            this.playerRolledValue = "wow! You rolled four of a kind!" + this.playerPoints
                        }
                        i++;                    
                    }i = 0;
                          //--------------------------------threOfAKind
                          while (i < 6) {
                        if(allFiveDices[i].length == 3){ 
                            this.playerPoints = 3000
                            this.playerRolledValue = "wow! You rolled three of a kind!" + this.playerPoints
                        }
                        i++;                    
                    }i = 0;
                    //--------------------------------fullHouse
                    let kakBoolHi = false
                    let kakBoolLo = false
                            
                    while (i < 6) {   
                        if(allFiveDices[i].length == 2){ 
                            kakBoolLo = true
                        }if(allFiveDices[i].length == 3){ 
                            kakBoolHi = true
                        }                                                                           
                        if(kakBoolHi == true && kakBoolLo == true){
                            this.playerPoints = 5000
                            this.playerRolledValue = "wow! You rolled kak     " + this.playerPoints
                        }
                        i++;                    
                    } i = 0;
                    //--------------------------------straight
                    let numer = 0
                    let stegBoolHi = false
                    let stegBoolLo = false
               
                    while (i < 6) {         
                  
                        if(allFiveDices[i].length == 1){ 
                            numer++
                            if(allFiveDices[i][0] == 0){
                                stegBoolHi = true                    
                            } 
                            if (allFiveDices[i][0] == 5){
                                stegBoolLo = true;
                            }   
                        }                                            
                        if(stegBoolLo != stegBoolHi && numer == 5){
                            this.playerPoints = 4000
                            this.playerRolledValue = "wow! You rolled STEGE     " + this.playerPoints
                        }
                        i++;                    
                    }i = 0;

                
                    if(this.playerPoints == 0){
                        this.playerRolledValue = "wow! You rolled NOTHING     " 
                    }

                }
            }
    })
        
</script>



</body>
</html>